body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/* separação inicial nav(menu sidebar) e main */

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Menu Sidebar */

.wrapper .menu-sidebar {
    flex-grow: 1;
    background-color: rgb(77, 218, 243);
    padding: 30px 0px;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.wrapper .menu-sidebar h2 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 65px;
}

.wrapper .menu-sidebar ul {
    padding: 0px;
}

.wrapper .menu-sidebar li {
    color: white;
    padding: 0px;
    list-style-type: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.wrapper .menu-sidebar a {
    width: auto;
    height: 100%;
    padding: 15px 20px;
    color: white;
}

.wrapper .menu-sidebar .active li {
    background-color: rgb(39, 39, 80);
}

.wrapper .menu-sidebar li:hover {
    background-color: rgba(175, 174, 174, 0.658);
    border-left: 4px solid tomato;
}

.conteudo {
    display: flex;
    flex-grow: 20;
    flex-direction: column;
}
/* Main content */
.main-content {
    margin-left: 40px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

/* Top-bar Title Page */

.top-bar {
    background-color: rgb(17, 17, 58);
    color: white;
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    margin-top: 0px;
    font-weight: 100;
}

/* input e label */

label {
    padding-right: 40px;
    padding-top: 20px;
    font-weight: 700;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

input:focus {
    outline: none;
    border-bottom: solid 2px tomato;
}


.flex {
    display: flex;
}

.flex-collum {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 1px 2px 2px 1px rgba(50, 50, 50, 0.77);
}

.btn:focus {
    outline: none;
}

.btn:active {
    outline: none;
    box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 1);
}

.btn-red {
    color: white;
    background-color: red;
    margin: 20px 5px 20px 20px;
}

.btn-save {
    color: white;
    background-color: rgb(17, 17, 58);
    margin: 20px 0px 20px 0px;
}